$primary: #A154F2;
$secondary:#6242DB;
$pink: #C89FF4;
$accent: #F27A54;
$green: #6FCF97;
$dark: #30363D;
$dark-gray: #3C444C;
$white: #F2F4F7;
$text-gray: #747D88;
$text-label: #CBCFD4;


$padding: 1em;
$margin: 1em;
